h1 {
    background-color: darkslateblue;
    font-style: italic;
    font-size: 80px;
    color: cyan
}
body {
    background-color: cadetblue;
    font-style: oblique;
    font-size: 30px;
}
ul {background-color: cadetblue;
    font-size: 20px;
    font-weight: bolder;
    color: cyan;
}

h3 {color: darkslateblue;

}
